<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if site.staging %}<meta name="robots" content="noindex, nofollow">{% endif %}
<link rel="preload" href="/assets/fonts/BricolageGrotesque-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Figtree-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/css/main.css?v={{ site.time | date: '%s' }}">
<link rel="icon" href="/img/jendovadilnaspolek_logo_200x200.png">
<meta name="theme-color" content="#1F4E44">
{% seo title=true %}
{% feed_meta %}
